body{
    background: linear-gradient(to right,#0f2027,#203a43,#2c5364);
    font-family: 'Poppins',sans-serif;
}
div {
border: 1px ;
    background:lime ;
    top:20%;
    left:20%;
    height:200px;
width:300px
}
button{
   color: white;
   background:BLUE;
   width: 185px;
   height: 30px;
   border-radius:20px;
}
a{
text-decoration:none;	
color:blue
}
input{
border-radius:10px;
width:185px;

}
h2{
color:black;
}
